<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdMP51bD_vnLKY33WELHtr9_RZ0mY5bPW5xAogLw0W&s" width="180px" height="60px">
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- challenge 6 -->
          <!-- <li><a href="/home_admin">Home</a></li> -->
          <li><a href="/registration">Register Student</a></li>
          <li><a href="/view_complaint">View Complaint</a></li>
          <li><a href="/view_applicant">View Applicant</a></li>
          <li><a href="/">Log Out</a></li>
          <!-- <li><a href="/registration">Register Student</a></li> -->
          <!-- <li><a href="/">Hostel Support</a></li>
          <li><a href="/">Student Details</a></li> -->
          <!-- <a href="logout">  to be added after each li-->

          <!-- <li id="contact"><a href="contact">CONTACT US</a></li> -->
        </ul>
    </div>
  </nav>
</head>

<body>