
<%- include('partials/header'); -%>
    
    <header class="ScriptHeader">
        <div class="rt-container">
            <div class="col-rt-12">
                <div class="rt-heading">
                    <h1>Student Profile</h1>
                    <!-- <p>A responsive student profile page design.</p> -->
                </div>
            </div>
        </div>
    </header>
    
    <section>
        <div class="rt-container">
              <div class="col-rt-12">
                  <div class="Scriptcontent">
                  
    <!-- Student Profile -->
    <div class="student-profile py-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent text-center">
                <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">
                <h3>Hasmit Chauhan</h3>
              </div>
              <div class="card-body">
                <p class="mb-0"><strong class="pr-1">Roll No:</strong>20UCS078</p>
                <p class="mb-0"><strong class="pr-1">Batch:</strong>Y-20</p>
                <p class="mb-0"><strong class="pr-1">Branch:</strong>CSE</p>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Student Information</h3>
              </div>
              <div class="card-body pt-0">
                <table class="table table-bordered">
                  <tr>
                    <th width="30%">Student Name</th>
                    <td width="2%">:</td>
                    <td>Hasmit Chauhan</td>
                  </tr>
                  <tr>
                    <th width="30%">Father's Name</th>
                    <td width="2%">:</td>
                    <td>Harshadbhai Chauhan</td>
                  </tr>
                  <tr>
                  </tr>
                  <th width="30%">Date of Birth</th>
                  <td width="2%">:</td>
                  <td>21-07-2001</td>
                  </tr>
                    <tr>
                      <th width="30%">Contact</th>
                      <td width="2%">:</td>
                      <td>8758236933</td>
                    </tr>
                    <tr>
                      <th width="30%"><%= emailId %></th>
                      <td width="2%">:</td>
                      <td>9978232765</td>
                    </tr>
                    <tr>
                    <th width="30%">Gender</th>
                    <td width="2%">:</td>
                    <td>Male</td>
                  </tr>
                    <th width="30%">Blood Group</th>
                    <td width="2%">:</td>
                    <td>B+</td>
                  </tr>
                </table>
              </div>
            </div>
              <!-- <div style="height: 26px"></div>
            <div class="card shadow-sm">
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
              </div>
              <div class="card-body pt-0">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- partial -->
               
                </div>
            </div>
        </div>
    </section>
    <!-- <%- include('partials/footer'); -%> -->
    <!-- <script>alert(emailId);</script> -->