<%- include('partials/header'); -%>
	<header class="ScriptHeader">
		<div class="rt-container">
			<div class="col-rt-12">
				<div class="rt-heading">
				</div>
			</div>
		</div>
	</header>

	<section>
		<div class="rt-container">
			<div class="col-rt-12">
				<div class="Scriptcontent">
					<div class="col-sm-9">
						<!-- <h1 class="lnmheading">Support Staff Details</h1> -->
						<h2>Hostel Administration</h2>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tbody>
									<tr style="background-color: #1b4735c4; color: #fff;">
										<td colspan="2" style="color: #fff;">Chief Warden</td>
									</tr>
									<tr>
										<td style="width: 200px; text-align: center;">
											<h4>Dr. Ajit Patel</h4>
										</td>
										<td style="vertical-align: top;">
											<p><strong>Email:</strong> chief-warden@lnmiit.ac.in</p>
											<p><strong>Contact number:</strong> +91-0141-3526141</p>
										</td>
									</tr>
									<tr style="background-color: #1b4735c4; color: #fff;">
										<td colspan="2" style="color: #fff;">Associate Chief Warden</td>
									</tr>
									<tr>
										<td style="width: 200px; text-align: center;">
											<h4>Dr. Vikas Gupta</h4>
										</td>
										<td style="vertical-align: top;">
											<p><strong>Email:</strong> assoc.cw@lnmiit.ac.in</p>
											<p><strong>Contact number:</strong> +91-0141-3526142</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<h2>Boy's Hostel - 1 (+ 91 - 0141 - 2688128, 7851948930)</h2>
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr style="background-color: #1b4735c4; color: #fff;">
										<th>Designation</th>
										<th>Name</th>
										<th>Contact No (O)</th>
										<!-- <th>Mobile Number (O)</th> -->
										<th>E-Mail ID</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Warden BH1</td>
										<td>Dr. Manish Garg</td>
										<td>91-141-3526143</td>
										<!-- <td></td> -->
										<td>warden-bh1@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Associate Warden BH1</td>
										<td>Dr. Bharavi Mishra</td>
										<td>91-141-3526144</td>
										<!-- <td></td> -->
										<td>assoc.warden-bh1@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Hostel Support BH1</td>
										<td>Mr. Prahlad Sharma</td>
										<td>91-141-3526145</td>
										<!-- <td>7851948930</td> -->
										<td>bh1-support@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Hostel Support BH1</td>
										<td>Mr. Suresh Chand Danka</td>
										<td>91-141-3526145</td>
										<!-- <td>7851948930</td> -->
										<td>bh1-support@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Hostel Support BH1</td>
										<td>Mr. Manoj Kumar Pancholi</td>
										<td>91-141-3526145</td>
										<!-- <td>7851948930</td> -->
										<td>bh1-support@lnmiit.ac.in</td>
									</tr>
								</tbody>
							</table>
						</div>
						<h2>Boy's Hostel - 2 (+ 91 – 0141 - 2688129, 7852824457)</h2>
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr style="background-color: #1b4735c4; color: #fff;">
										<th>Designation</th>
										<th>Name</th>
										<th>Contact No (O)</th>
										<!-- <th>Mobile Number (O)</th> -->
										<th>E-Mail ID</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Warden BH2</td>
										<td>Dr. Mohit Makkar</td>
										<td>91-141-3526146</td>
										<!-- <td></td> -->
										<td>warden-bh2@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Associate Warden BH2</td>
										<td>Dr. Navneet Upadhyay</td>
										<td>91-141-3526147</td>
										<!-- <td></td> -->
										<td>assoc.warden-bh2@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Jr. Hostel Superintendent BH2</td>
										<td>Mr. Namo Narayan Meena</td>
										<td>91-141-3526148</td>
										<!-- <td>7852824457</td> -->
										<td>jhs-bh2@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Hostel Support BH2</td>
										<td>Mr. Kamlesh Kumar Meena</td>
										<td>91-141-3526148</td>
										<!-- <td>7852824457</td> -->
										<td>bh2-support@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Hostel Support BH2</td>
										<td>Mr. Abhishek Kumar Sharma</td>
										<td>91-141-3526148</td>
										<!-- <td>7852824457</td> -->
										<td>bh2-support@lnmiit.ac.in</td>
									</tr>
								</tbody>
							</table>
						</div>
						<h2>Boy's Hostel - 3 (+ 91 – 0141 - 2688130, 7852833867)</h2>
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr style="background-color: #1b4735c4; color: #fff;">
										<th>Designation</th>
										<th>Name</th>
										<th>Contact Number (O)</th>
										<!-- <th>Mobile Number (O)</th> -->
										<th>E-Mail ID</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Warden BH3</td>
										<td>Dr. Ashok Garai</td>
										<td>91-141-3526149</td>
										<!-- <td></td> -->
										<td>warden-bh3@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Associate Warden BH3</td>
										<td>Dr. Kanjalochan Jena</td>
										<td>91-141-3526150</td>
										<!-- <td></td> -->
										<td>assoc.warden-bh3@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Jr. Hostel Superintendent BH3</td>
										<td>Mr. Ghanshyam Sharma</td>
										<td>91-141-3526151</td>
										<!-- <td>7852833867</td> -->
										<td>jhs-bh3@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Hostel Support BH3</td>
										<td>Mr. Ram Kumar Singh</td>
										<td>91-141-3526151</td>
										<!-- <td>7852833867</td> -->
										<td>bh3-support@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Hostel Support BH3</td>
										<td>Mr. Rahul Sharma</td>
										<td>91-141-3526151</td>
										<!-- <td>7852833867</td> -->
										<td>bh3-support@lnmiit.ac.in</td>
									</tr>
								</tbody>
							</table>
						</div>
						<h2>Boy's Hostel - 4 (+ 91 – 0141 - 2688131, 7852832339)</h2>
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr style="background-color: #1b4735c4; color: #fff;">
										<th>Designation</th>
										<th>Name</th>
										<th>Contact Number (O)</th>
										<!-- <th>Mobile Number (O)</th> -->
										<th>E-Mail ID</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Warden BH4</td>
										<td>Dr. Nabyendu Das</td>
										<td>91-141-3526152</td>
										<!-- <td></td> -->
										<td>warden-bh3@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Hostel Support BH4</td>
										<td>Mr. Kajor Meena</td>
										<td>91-141-3526153</td>
										<!-- <td>7852832339</td> -->
										<td>bh4-support@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Hostel Support BH4</td>
										<td>Mr. Praveen Kumar Jha</td>
										<td>91-141-3526153</td>
										<!-- <td>7852832339</td> -->
										<td>bh4-support@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Hostel Support BH4</td>
										<td>Mr. Madhu Sudan Sharma</td>
										<td>91-141-3526153</td>
										<!-- <td>7852832339</td> -->
										<td>bh4-support@lnmiit.ac.in</td>
									</tr>
								</tbody>
							</table>
						</div>
						<h2>Girl's Hostel (+ 91 – 0141 - 2688132, 7851941316)</h2>
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr style="background-color: #1b4735c4; color: #fff;">
										<th>Designation</th>
										<th>Name</th>
										<th>Contact Number (O)</th>
										<!-- <th>Mobile Number (O)</th> -->
										<th>E-Mail ID</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Warden GH</td>
										<td>Dr. Pomita Ghoshal</td>
										<td>91-141-3526156</td>
										<!-- <td></td> -->
										<td>warden-gh@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Associate Warden GH</td>
										<td>Dr. Joyeeta Singha</td>
										<td>91-141-3526157</td>
										<!-- <td></td> -->
										<td>assoc.warden-gh@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Jr. Hostel Superintendent GH</td>
										<td>Mrs. Madhu Yadav</td>
										<td>91-141-3526158</td>
										<!-- <td>7851941316</td> -->
										<td>jhs-gh@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Hostel Support GH</td>
										<td>Mrs. Sakshi Sharma</td>
										<td>91-141-3526158</td>
										<!-- <td>7851941316</td> -->
										<td>gh-support@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Hostel Support GH</td>
										<td>Mrs. Pankesh Sharma</td>
										<td>91-141-3526158</td>
										<!-- <td>7851941316</td> -->
										<td>gh-support@lnmiit.ac.in</td>
									</tr>
									<tr>
										<td>Hostel Support GH</td>
										<td>Mrs. Manju Kunwar</td>
										<td>91-141-3526158</td>
										<!-- <td>7851941316</td> -->
										<td>gh-support@lnmiit.ac.in</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tbody>
									<tr style="background-color: #1b4735c4; color: #fff;">
										<td colspan="2" style="color: #fff;">Mess Warden</td>
									</tr>
									<tr>
										<td style="width: 200px; text-align: center;">
											<h4>Dr. Surinder Singh Nehra</h4>
										</td>
										<td style="vertical-align: top;">
											<p><strong>Email:</strong> warden-mess@lnmiit.ac.in</p>
											<p><strong>Contact number:</strong> +91-0141-3526159, Ext. - 6159</p>
										</td>
									</tr>
									<tr style="background-color: #1b4735c4; color: #fff;">
										<td colspan="2" style="color: #fff;">Associate Mess Warden</td>
									</tr>
									<tr>
										<td style="width: 200px; text-align: center;">
											<h4>Dr. Abhishek Sharma</h4>
										</td>
										<td style="vertical-align: top;">
											<p><strong>Email:</strong> assoc.warden-mess@lnmiit.ac.in</p>
											<p><strong>Contact number:</strong> +91-0141-3526160, Ext. - 6160</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- partial -->

				</div>
			</div>
		</div>
	</section>


	<!-- <%- include('partials/footer'); -%> -->